.dropbox {
  min-height: 250px;
  width: 100%;
  border: 4px dotted #ccc;
  padding: 5px 0px;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
