.objective-source {
  border: dashed 1px #ccc;
  border-radius: 4px;
  margin: 5px 5px;
  min-height: 70px;
}
.ui-droppable-hover {
    background: teal !important;
}
.objective {
    border-radius: 3px;
    box-shadow: 1px 2px 6px 0px #0000001a;
    padding: 16px;
    margin: 5px 5px;
    z-index: 9;
    background: white;
}

.dropbox {
/*  min-height: 250px;
  width: 100%;
  margin: 5px 5px;*/
}
.dropbox .row .col-md-4 {
    padding-right: 0px;
    padding-left: 0px;
}
.pool .row .col-md-4 {
    padding-right: 0px;
    padding-left: 0px;
}
.dropzone {
  border: dashed 1px #ccc;
  border-radius: 4px;
  margin: 5px 5px;
  min-height: 70px;
}
